<html>

<head>
	<meta charset="UTF-8">
	<title>Werdil</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="styles.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
<div class='holder'>
	<h1> Werdil </button></h1>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.6/sweetalert2.min.js"></script>
<script charset="UTF-8" src="app.js" integrity="sha512-fkWXOWWVKTuQtk8/DugaVL+tfwzAY43jECN/XZmVD0yKep8Pc3aEC+17MtvfE9fHGkVRNBKws+LtpQvGUCXCTw==" crossorigin="anonymous" ></script>

<div ng-app="ChangeLogApp" ng-controller="ChangeLogController" ng-cloak>
	<div class='holder'>
		<div>
			<table id="inp_table" align="center">
				<tr ng-repeat="guess in guess_matrix">
					<td ng-repeat="char in guess track by $index" class="{{getClassForRow($parent.$index)[$index]}}">
						{{renderLetter(char[0])}}
					</td>
				</tr>

				<tr>
					<td ng-repeat="char in current_guess track by $index">
						{{renderLetter(char[0])}}
					</td>
				</tr>

			</table>
		</div>

		<div id='keyboard'>
			<div class='row'>
				<button ng-repeat="letter in top_row" ng-click="pushLetter(letter.toLowerCase())"
					class="{{keyb_colour(letter.toLowerCase())}}"> {{renderLetter(letter)}} </button>
			</div>

			<div class='row middle-row'>
				<button ng-repeat="letter in mid_row" ng-click="pushLetter(letter.toLowerCase())"
					class="{{keyb_colour(letter.toLowerCase())}}"> {{renderLetter(letter)}} </button>
			</div>

			<div class='row'>
				<button ng-repeat="letter in bot_row" ng-click="pushLetter(letter.toLowerCase())"
					class="{{keyb_colour(letter.toLowerCase())}}"> {{renderLetter(letter)}} </button>
			</div>
		</div>
	</div>
</div>
<div id="snackbar"></div>



</html>